name: Bonjour
on:
  - push
jobs:
  continuous:
    runs-on: ubuntu-24.04
    steps:
      - name: "Récupération fichiers"  
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci 
      - run: npm run build